@import url(main.css);

body {
    background-color: black;
    width: 100vw;
    overflow-x: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.fadeIn {
    animation: fadeIn 2s alternate;
    animation-fill-mode: forwards;
}

h1 {
    color: #ffffff;
    z-index: 1;
}

.sectionDot {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 3px solid #252525;
    transition: 0.3s;
}

.navi-line {
    height: 135px;
    width: 2px;
}

#verticalNav1 , #verticalNav2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 2;
    margin-left: 95%;
    margin-top: 50vh;
    transform: translateY(-50%);
}

#verticalNav1 .positiondDot , #verticalNav1 .navi-line {
    background-color: #252525;   
}

.sectionDot:hover {
    scale: 1.3;
}

.positionDot {
    width: 40px;
    height: 40px;
    border-radius: 35px;
    position: absolute;
    background-color: #252525;
    margin-top: -7px;
    /* opacity: 0.5; */
}

/* Section 01 */
#section01 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
}

#gradientBg {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(70px);
    position: absolute;
}

#noiseBg {
    width: 100vw;
    height: 100vh;
    background-image: url(https://media.tenor.com/zcOZCRGGMFQAAAAC/fuzzy-fuzz.gif);
    opacity: 0.15;
    mix-blend-mode: multiply;
    position: absolute;
}

#bonjour , #jeSuis {
    font-family: var(--text);
    font-weight: 100;
    font-size: 7vw;
    margin-left: 2%;
    line-height: 115%;
    opacity: 0;
}

#creative-designer {
    font-family: var(--title);
    font-weight: 400;
    font-size: 10vw;
    margin-left: 2%;
    margin-bottom: 10vh;
    opacity: 0;
}

/* Section 02 */
#section02 {
    min-height: 100vh;
    background-color: #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--text);
    background-image: url(img/grainy-texture.jpg);
    position: relative;
    top: 100vh;
}

#section02 div {
    display: flex;
}

#p-age , #p-skills , #p-about , #p-also {
    justify-content: center;
    align-items: center;
}

#p-main {
    width: 80%;
    height: 76vh;
    background-color: #E1E1E1;
    border: 1px solid black;
}

#p-picture {
    flex: 3;
    align-items: flex-end;
    border-right: 1px solid black;
}

#p-picture img {
    width : 110%;
}

#p-right {
    flex: 6;
    flex-direction: column;
}

#p-titles {
    height: 20%;
    font-size: 4vw;
    border-bottom: 1px solid black;
}

#p-name {
    flex: 7;
    align-items: center;
    font-weight: 100;
    padding-left: 5%;
    border-right: 1px solid black;
}

#p-age {
    flex: 4;
    font-weight: 100;
}

#p-description {
    height: 80%;
}

#p-skills {
    flex: 3;
    border-right: 1px solid black;
}

#p-skills ul {
    font-size: 1.1vw;
    font-weight: 300;
    line-height: 40px;
}

#p-text {
    flex: 7;
    flex-direction: column;
    font-size: 1.1vw;
    font-weight: 300;
}

#p-about {
    flex: 1;
    padding: 0 7%;
    border-bottom: 1px solid black;    
    line-height: 35px;
}

#p-also {
    flex: 1;
    padding: 0 7%;
    line-height: 35px;
}

#p-also a {
    color: black;
}

#section03 {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 100vh;
    background-color: #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/grainy-texture.jpg);
    z-index: 1;
}

#contactForm {
    width: 40%;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

#contactForm h2 {
    font-family: var(--text);
    font-size: 5vw;
    font-size: 3vw;
    font-weight: 500;
    line-height: 4vw;
}

#nameInput , #emailInput {
    height: 60px;
    width: 85%;
    border-radius: 5px;
    background-color: #00000000;
    border: 1px solid black;
    padding: 5px 5%;
    font-size: 25px;
    font-family: var(--text);
}

#messageInput{
    width: 85%;
    border-radius: 5px;
    background-color: #E1E1E1;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    font-size: 26px;
    font-family: var(--text);
    padding: 20px 5%;
    resize: none;
    height: 27vh;
}

#sendBtn {
    margin-right: 5%;
    height: 80px;
    width: 30%;
    color: #ffffff;
    background-color: #252525;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--text);
    align-self: flex-end;
    border: none;
    transition: 0.3s;
}

#sendBtn:hover {
    border: 1px solid black;
    background-color: #00000000;
    color: #252525;
}

#s3d2 {
    width: 40%;
    height: 60vh;
    display: flex;
    align-items: flex-end;
}

#paperPlane {
    width: 45%;
    position: absolute;
    margin-left: 2vw;
}

.takeOff {
    animation: planeFly 3s ease-in;
}

#planeFrame {
    border: 4px solid black;
    display: flex;
    align-items: flex-end;
    width: 85%;
    height: 60vh;
    margin-left: 2vw;
}

#remerciement {
    position: absolute;
    width: 40%;
    opacity: 0;
    mix-blend-mode: darken ;
}

.displayThank {
    animation: merci 3s forwards;
}

#remerciement p {
    font-family: var(--text);
    font-size: 4vw;
    margin-left: 40%;
}

#drawBoy {
    width: 80%;
}

footer {
    top: 99vh;
}

@media screen and (max-width : 1023px) {

    #verticalNav1 {
        margin-left: 94%;
    }

    .navi-line {
        height: 80px;
    }

    .positionDot {
        width: 20px;
        height: 20px;
    }

    #scroll-btn {
        z-index: 2;
        margin-top: 80vh;
        background: none;
        box-shadow: none;
        backdrop-filter: none;
        z-index: 1;
        animation: jumpingArrow 3s infinite ease-in-out;
    }

    @keyframes jumpingArrow {
        0% , 20% , 40% , 100% {
            margin-top: 76vh;
        }

        10% {
            margin-top: 80vh;
        }

        30% {
            margin-top: 79vh;
        }
    }

    #scroll-btn img {
        width: 50%;
    }

    #menu-btn {
        z-index: 2;
    }

    #section02 {
        height: auto;
        overflow-x: hidden;
        z-index: 1;
    }
    
    #bonjour , #jeSuis{
        font-size: 13vw;
    }

    #creative-designer {
        font-size: 25vw;
        line-height: 90px;
        margin-bottom: 30vh;
    }

    #p-main {
        height: auto;
        width: 100%;
    }

    #p-also , #p-about{
        font-size: 16px;
        line-height: 22px;
        flex: 1;
        border-bottom: 1px solid black;
        padding: 7%;
    }

    #p-name {
        font-size: 42px;
        font-weight: 200;
        border: none;
        padding: unset;
    }

    #p-age {
        flex: 0;
        opacity: 0;
    }

    #p-skills {
        justify-content: flex-end;
        width: 100%;
        border: none;
        font-size: 16px;
        flex: none;
        padding: 7%;
    }

    #p-skills ul {
        line-height: inherit;
        font-size: 16px;
        margin-right: 13%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 32px;
    }

    #p-text {
        flex: inherit;
        flex: 5;
    }

    #p-picture {
        height: 45vh;
        border-right: none;
        /* border-top: 1px solid black; */
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    #p-picture img {
        height: inherit;
        width: auto;
    }

    #p-description {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        flex: 10;
        height: auto;
    }

    #p-titles {
        flex: 1;
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }

    #p-age {
        display: none;
    }

    #section03 {
        flex-direction: column;
        height: unset;
        overflow-x: hidden;
        padding-bottom: 30vh;
    }

     #contactForm {
        width: 90%;
        height: unset;
     }

     .sectionDot {
        width: 10px;
        height: 10px;
     }

     #nameInput , #emailInput , #messageInput {
        width: 89%;
        height: 40px;
        margin: 5px 0;
        font-size: 16px;
     }

     #messageInput {
        height: 300px;
     }

     #contactForm h2 {
        font-size: 8vw;
        line-height: 11vw;
        margin-top: 7vh;
     }

     #sendBtn {
        width: 50%;
        height: 60px;
        font-weight: 400;
        margin: 0;
        margin-top: 5px;
     }

     #s3d2 {
        display: none;
     }
}


