@import url(../../main.css);

* {
    margin: 0;
    padding: 0;
    cursor: auto;
    font-family: var(--text);
}

.bottomReveal {
    animation: bottomReveal 0.4s forwards;
    transition-timing-function: cubic-bezier(.09,.36,.29,.99);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#exit {
    border: 2px solid var(--dark);
    color: var(--dark);
    background: var(--white);
}

#exit:hover {
    background-color: var(--dark);
    border: 2px solid var(--white);
    color: #ffffff;
}

.design-section01 {
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 20px #00000049);
}

.design-S1-left {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 0.7s ease-in forwards;
}

.design-S1-right {
    height: 100vh;
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    animation: fadeIn 0.7s ease-in forwards;
}

.design-S1-frame {
    width: 90%;
    background: url(../../img/goodeed-head.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
}

@keyframes heightRevealMask {
    0% {
        height: 0vh;
    }
    100% {
        height: 90vh;
    }
}

.design-S1-head {
    display: flex;
    align-items: center;
    gap: 40px;
}

.design-S1-head img {
    width: 150px;
}

.design-S1-head button {
    width: 225px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid var(--dark);
    color: var(--dark);
    background: none;
    font-size: 1.2rem;
    transition: 0.3s;
    cursor: pointer;
}

.design-S1-head button:hover {
    border: 2px solid white;
    color: white;
    background-color: #00AFFB;
}

.design-project-type {
    font-size: 1.2vw;
    margin-top: 1vh;
    font-weight: 300;
    letter-spacing: 2px;
}

.design-description01 {
    font-size: 2.3vw;
    line-height: 120%;
    margin-top: 3vh;
}

.design-description02 {
    font-size: 2.3vw;
    line-height: 120%;
    margin-top: 5vh;
}

#h2-div {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

#title01 {
    position: absolute;
    margin-bottom: 5vh;
    bottom: 0;
}

#fixedBG {
    background: url(../../img/goodeed-design-system.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.mission-title {
    text-align: center;
    font-size: 3vw;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--dark);
}

#section03 {
    background-color: #E5F6FF;
    width: 100%;
    margin-top: 100vh;
    filter: drop-shadow(0px 0px 20px #00000049);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh 0 5vh 0;
    gap: 3vh;
}

#section04 {
    width: 100%;
    padding: 10vh 0 5vh 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#sesction04 div {
    display: flex;
}

#section04 img {
    width: 48%;
    margin-top: 3vh;
}

#section05 {
    width: 100%;
    height: 25vw;
    padding: 5vh 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

#section05 img {
    width: 81%;
    padding-top: 5vh;
}

#section06 {
    width: 100%;
    padding-top: 35vh;
    padding-bottom: 10vh;
    background-color: #E5F6FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section06 img {
    width: 81%;
    padding-top: 5vh;
}

#section07 {
    width: 100%;
    padding: 10vh 0 5vh 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section07 video {
    width: 80%;
    margin-top: 5vh;
}

#section08 {
    width: 100%;
    padding: 5vh 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section08 h2 {
    margin-bottom: 5vh;
}

.video-gallery {
    display: flex;
    width: 80%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    -webkit-flex-wrap: wrap;   /* OLD - Chrome */
    flex-wrap: wrap;  
}

.video-item {
    position: relative;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 5px;
}

.video-item video {
    max-width: 100%;
    height: auto;
    display: block;
}

#section09 {
    width: 100%;
    padding: 5vh 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section09 h2 {
    margin-bottom: 5vh;
}

.image-gallery {
    display: flex;
    width: 80%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    -webkit-flex-wrap: wrap;   /* OLD - Chrome */
    flex-wrap: wrap;  
}

.image-item {
    position: relative;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 5px;
}

.image-item img {
    max-width: 100%;
    height: auto;
    display: block;
}



@media screen and (max-width : 1023px) {

    .design-section01 {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .design-S1-left {
        width: 90%;
        height: 80vh;
    }

    .design-S1-head {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .design-S1-head img {
        width: 200px;
    }

    .design-project-type {
        font-size: 16px;
        margin-top: 20px;
    }

    .design-description01 , .design-description02 {
        font-size: 16px;
        text-align: justify;
    }

    .design-S1-right {
        width: 100%;
        align-items: flex-start;
        justify-content: center;
    }

    .design-S1-frame {
        height: 40vh;
    }

    .mission-title {
        font-size: 24px;
    }

    #title01 {
        position: unset;
    }

    #section03 {
        margin-top: 70vh;
    }

    #section03 img {
        width: 100%;
    }
    
    #sesction04 div {
        flex-direction: column;
    }
    
    #section04 img {
        width: 100%;
    }

    #section04 img:nth-child(2) {
        margin-top: 0;
    }

    #section05 img {
        width: 100%;
    }

    #section06 {
        padding-top: 25vh;
    }

    #section06 img {
        width: 90%;
    }

    .video-gallery {
        width: 95%;
    }

    .image-gallery {
        width: 95%;
        flex-direction: column;
    }


}