@import url(../main.css);

.fadeIn {
    animation: fadeIn 0.5s forwards reverse;
}

body {
    width: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
}

#main {
    width: 100%;
    display: flex;
    justify-content: center;
    animation: fadeIn 1s forwards;
}

#bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(../img/grainy-texture.jpg);
    z-index: -1;
}


#bgg {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 38, 226);
}

#leftSide {
    width: 37%;
}

h1 {
    font-family: var(--title);
    font-size: 9vw;
    color: var(--dark);
    line-height: 100%;
}

p {
    font-family: poppins;
    font-size: 1.2vw;
    line-height: 146%;
    color: var(--dark);
}

#titles {
    margin-top: 45vh;
    margin-left: 5%;
    position: fixed;
    width: 35%;
}

#rightSide {
    height: 100vh;
    width: 63%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

#rightSide a {
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    margin-left: auto;
    overflow: hidden;
    position: relative;
}

#projet01 {
    background: linear-gradient(90deg, #37C1FF, #0193E8);
}

#projet02 {
    background: #CD942D;
}

#projet03 {
    background: #F50520;
}

#goodeedLogo {
    width: 40%;
    z-index: 1;
}

#peaceGirl {
    width: 550px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#nomadsLogo {
    width: 40%;
    z-index: 1;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

#nomadsPlate {
    width: 850px;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50vh;
    animation: rotate 4s infinite linear;
}

#springLogo {
    width: 45%;
}

#walkingBoy {
    position: absolute;
    right: 0;
}





hr {
    width: 90%;
    height: 1px;
    color: var(--dark);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

footer {
    width: 85%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#monEmail {
    color: var(--dark);
    text-decoration: none;
    font-family: poppins;
    font-size: 1.3vw;
}

#socials {
    display: flex;
    gap: 20px;
}

#socials img {
    width: 60px;
}